
body {
  font-family: 'Poppins', sans-serif;
}

.shop-brand {
  font-size: 2.8rem;
  letter-spacing: 3px;
  color: #000000 !important;
}

.custom-link {
  position: relative;
  font-size: 1.2rem;
  font-weight: 1000;
  color: #000000 !important;
  transition: color 0.3s ease-in-out;
}

.custom-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -3px;
  background-color: #ffffff;
  transition: width 0.3s ease-in-out;
}

.custom-link:hover::after {
  width: 100%;
}

.custom-link:hover {
  color: #000000 !important;
}